*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text-large {
    font-size: 45px;
}

.text-medium {
    font-size: 16px;
}

.text-small {
    font-size: 14px;
}

.text-xsmall {
    font-size: 10px;
}

.color-osilver {
    color: #828485;
}

.color-platinum {
    color: #e8ebe4;
}

.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

i {
    margin-right: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.container-chats {
    width: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-right: 1px solid #bec1bb;
}

.user-info {
    width: 60%;
    display: flex;
    align-items: center;
}

.left-box {
    border-bottom: #bec1bb 1px solid;
    border-left: #bec1bb 1px solid;
    flex-grow: 1;
    padding: 16px
}

.container-messages {
    background-color: #e8ebe4;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-box {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #A491D2;
    border: none;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #CDC3E6;
    color: white;
}

.button:focus {
    background-color: #BEC1BB;
    color: white;
}

.chat-mini {
    display: flex;
    align-items: center;
}

.thumbnail-normal {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin: 0 12px;
}

.thumbnail-small {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin: 6px;
}

.logo {
    width: 30%;
    height: auto;
    border-radius: 12px;
}

.intro-text {
    width: 60%;
    text-align: center;
}